// Center text
%centered {
 text-align: center;
}

// Transitions

%transition-all {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

%no-padding {
    padding: 0;
}
