.navbar {
    font-family: 'Lato', sans-serif;
    background-color: $black-mat;
    height: 70px;
    .navbar-brand {
        color: $white;
    }
}
.navbar-dark .navbar-toggler {
    color: darken($white, 20%);
    border-color: darken($white, 20%);
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ccc' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

#page-navbar {
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 70px;
    .navbar-nav {
        background-color: $black-mat;
        .nav-item {
            padding: 10px 15px;
            a {
                color: $white;
            }
            @media (min-width: 768px) {
                display: inline-block;
            }
        }
        @media (min-width: 768px) {
            display: inline-block;
        }
    }
    @media (min-width: 768px) {
        position: fixed;
        width: auto;
        right: 30px;
        top: 10px;
        display: inline-block;
    }
}
