#overlap-container {
    background-color: $white-gold;
    box-shadow: 0 0 30px 1px transparentize($white, .5);
    border: 1px solid lighten($black, 85%);
    position: relative;
    bottom: 180px;
    padding: 3rem 2rem;
    margin: 30px;
    width: auto;
    border-bottom: 5px solid $redish;
    &:after {
    	content: '';
    	position:absolute;
    	z-index:-1;
    	bottom:-3px;
    	width:94%;
    	left:50%;
    	margin-left:-47%;
    	height:30px;
    	box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 1);
    	-webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
    	-moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
    	-ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
    	-o-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
    	transform: perspective(800px) rotateY(0deg) rotateX(45deg);
    }
    table {
        margin-left: 1rem;
        width: 100%;
        tbody {
            font-family: 'Dosis', sans-serif;
            td {
                padding: .2rem;
            }
            td.td-day {
                font-weight: 600;
                font-size: 1.1rem;
                color: lighten($black, 40%);
            }
            td.td-hours {
                font-weight: normal;
                font-size: 1.1rem;
                color: lighten($black, 40%);
            }
        }
    }
    .row {
        .col-sm-4 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    @media (min-width: 400px) {
        bottom: 300px;
    }
    @media (orientation: landscape) {
        bottom: 50px;
    }
    @media (min-width: 579px) {
        margin: auto;
    }
    @media (min-width: 769px) {
        bottom: 130px;

    }
}
